@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
}

button, a {
  cursor: pointer;
}


.custon-container-text-skills::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.7);
}
.custon-container-text-skills::-webkit-scrollbar {
    width: 6px;
    background: #636e72;
    border-radius: 10px;
  }
  .custon-container-text-skills::-webkit-scrollbar-thumb {
    background: #636e72;
    border-radius: 10px;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}